<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
		<link rel="icon" href="/assets/img/taco.ico" />
		
		<title>taconation</title>
		
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/tacos.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
