<h1>TACOS</h1>

<h2>Tacos to Eat!</h2>

<ul>
  {{#each tacos}}
    {{#unless devoured}}
      <li> {{name}} </li>
      <button data-id="{{id}}" class="devour-btn">Devour Me!</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Tacos!</h2>

<ul>
  {{#each tacos}}
    {{#if devoured}}
      <li> {{name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Taco</h2>
<form class="create-taco">

  <div class="form-group">
    <label for="ta">Taco Type:</label>
    <input type="text" id="ta" name="name">
  </div>


  <button type="submit">Add Taco</button>
</form>
